/* Layout */
html.IsEditor, body {
    background: #080808 url("../images/maceengineering-bg.png") no-repeat scroll right top !important;
}
.Middle, .NavBarRoof .PropertyContainer, .Header .PropertyContainer, .NavBarTop .PropertyContainer, .NavBarBottom .PropertyContainer, .Footer .PropertyContainer {
    margin: 0 auto;
    max-width: 1170px;
	text-align: center;
	width: 100%;
}
/* Typography */
* {
    font-family: "Montserrat", Arial, Helvetica ,sans-serif;
}

h1 {
	font-family: "Alatsi", Arial, Helvetica , serif;
}
h2, h3, h4, h5, h6 {
    font-family: "Montserrat", Arial, Helvetica ,sans-serif;
}

h2.blockHeading {
	background-color: #ececec;
	font-weight: 900;
	letter-spacing: 1px;
	padding: 10px;
	text-align: left;
	text-transform: uppercase;
}
span.blackHeading {
	color: #080808;
}
hr.Separator {
	border: none !important;
}
.NavBarBottomText > h2 {
	margin: 10px 0 20px;
	text-transform: uppercase;
}
.NavBarBottomText h2::after {
    background: #ed1c24 none no-repeat scroll 0 0;
    bottom: -4px;
    content: "";
    display: block;
    height: 4px;
    position: relative;
    width: 55px;
}
.ContentArea {
	text-align: left;
}
.ContentArea h1[itemprop="name"] {
    color: #ed1c24;
    font-weight: bold;
}
/* Breadcrumbs */
.ContentArea h3.BottomMargin:first-of-type {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.BreadcrumbItem, .BreadcrumbLastItem {
    font-family: "Montserrat",Arial,Helvetica,sans-serif;
}
.ContentArea .BreadcrumbItem {
    color: #404040;
}
.ContentArea .BreadcrumbItem::after {
    clear: both;
    content: ">";
    display: inline;
    padding-left: 8px;
}
.ContentArea .BreadcrumbItem:hover, .ContentArea .BreadcrumbItem {
    background: transparent none no-repeat 0 0 !important;
    padding: 0 8px 0 0;
}
.ContentArea .BreadcrumbItem:hover, .ContentArea .BreadcrumbItem, .ContentArea .BreadcrumbLastItem {
    color: #a1a1a1;
}
/* columns */
	.gridContainer * {
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
	}
	.row.clearfix::after {
			clear: both;
			display: table;
			content: "";
		}
	[class*='col-'] {
	  float: left;
	}

	.col-1-4 {
	  width: 25%;
	}
	.col-3-4 {
	  width: 75%;
	}
	.col-1-3 {
		width: 33.33%;
	}
	.col-2-3 {
		width: 66.66%;
	}
	.col-1-8 {
		width: 12.5%;
	}
	
	[class*='col-'] {
	  padding-right: 20px;
	}

	[class*='col-']:last-of-type {
	  padding-right: 0;
	}

/* NavBarRoof */
.NavBarRoof .NavigationText {
	line-height: 30px;
}
/* Header */
.Header .headerLinks {
	background: transparent url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/headerLinks-bg.png") no-repeat scroll center right;
	height: 29px;
	padding-top: 10px;
}
.Header .headerLinks li {
	display: inline;
	padding: 0 20px 0 10px;
	background: transparent url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/headerLinks-dot.png") no-repeat scroll right center;
    font-family: "Montserrat", Arial, Helvetica ,sans-serif !important;
}
.Header .headerLinks li:last-child {
	background: transparent none no-repeat 0 0;
	padding-right: 0;
}
.Header .ShopLogo {
    padding-top: 12px;
}
.Redbutton {
	background: #ed1c24; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#cf0506, #650101); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cf0506, #650101); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cf0506, #650101); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cf0506, #650101); /* Standard syntax */
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 1.2em !important;
	color: #fff !important;
}
.Header .BasketBox.NavElementIcon {
    font-size: 16px;
}
.Header .BasketBox.NavElementIcon span:first-of-type {
	display: none;
}
.Header .BasketBox.NavElementIcon span::before {
	background: transparent url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/shopping-cart-icon.png") no-repeat scroll 0 0;
	height: 30px;
	width: 32px;
	content: "";
	display: inline-block;
}
.Header .basket-icon-link.AlignLeft > span {
    font-size: 18px;
}
.Header .basket-icon-link.AlignLeft br {
    display: none;
}
.Header a.basket-icon-link:hover {
	color: #ececec;
}
.BasketBox .FontSmaller {
    display: none;
}
/* NavBarTop */
.NavBarTop.HorizontalNavBar {
	border-top: none;
}
.NavBarTop .NavigationElement {
	height: 58px;
	line-height: 58px;
	margin-left: 1.5em;
}
.NavBarTop p.BasketLink, .NavBarTop .NavigationElement > a, .NavBarTop .NavigationElement > em > a, .NavBarTop .NavigationElement.SSLSwitch input {
	height: 58px;
	line-height: 58px;
}
.NavBarTop a {
	border: none;
}
.NavBarTop a, .NavBarTop a:hover, .NavBarTop p.BasketLink, .NavigationElement.SSLSwitch input[type="submit"], .NavigationElement.SSLSwitch input[type="submit"]:hover {
	font-weight: bold;
}
.NavBarTop a:hover, .NavBarTop .Active, .NavigationElement.SSLSwitch input[type="submit"]:hover {
    border-color: transparent;
    border-radius: 0;
    border-style: none;
}

.NavBarTop .SearchElement form {
	margin-right: 20px;
	margin-top: 8px;
	width: 350px;
}
.NavBarTop .InputField.SearchForm.horizontal-search {
	width: 350px;
	border: none;
}
.NavBarTop .SearchForm.horizontal-search > input {
	height: 29px;
	width: 302px;
	padding: 4px 45px 4px 4px;
}
.NavBarTop .InputField.SearchForm > button {
	margin: 0 0 0 -45px;
	opacity: 1;
	padding: 0 16px 0 10px;
}
.SearchForm.vertical-search .SearchIcon, .SearchForm.horizontal-search .SearchIcon {
	background: #ed1c24 url("../images/maceengineering-search-icon.jpg") no-repeat scroll 0 0 !important;
	height: 37px;
	width: 39px;
	margin-top: -1px;
}
/* NavBarLeft */
.NavBarLeft .ContextBox {
    padding-bottom: 1px;
}
.NavBarLeft .ContextBoxBody.FoldingCategoryList {
    padding-left: 12px;
}
.NavBarLeft .ContextBoxBody a {
    color: #292929;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
	font-size: 15px;
}
.NavBarLeft .ContextBoxBody a:hover {
	font-weight: bold;
	color: #ed1c24;
}
.NavBarLeft .ContextBoxBody a.SubCategory:hover {
	font-weight: normal;
}
.NavBarLeft .ContextBoxBody a::after {
    content: "";
    display: block;
    background-color: #292929;
    height: 1px;
	margin: 4px 0 3px 0;
}
.FoldingCategoryList .SubCategory {
    background: url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/categories-dot.png") 0px 6px no-repeat !important;
}
.NavBarLeft a.SubCategory {
    font-weight: normal;
	font-size: 13px;
}
.NavBarLeft a.SubCategory::after {
    display: none;
}
/* Category filter */
#RemoteSearchFacets {
    margin-bottom: 10px;
}
.RemoteSearchFacet ul.LeftPaddingWide {
    padding-left: 0px !important;
}
.RemoteSearchFacet span.FacetName::after {
    content: "";
    display: block;
    background-color: #292929;
    height: 1px;
    margin: 4px 0 3px 0;
}
.RemoteSearchFacet label {
    padding-left: 0px !important;
}
#RemoteSearchFacets ul ul ul li label {
    background: url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/categories-dot.png") 0px 6px no-repeat !important;
	padding-left: 16px !important;
}
#RemoteSearchFacets ul ul ul ul li {
    padding-left: 10px !important;
}
#RemoteSearchFacets ul ul ul ul li label {
    background: none no-repeat 0 0 !important;
	padding-left: 0 !important;
}
#RemoteSearchFacets ul ul ul ul li label::before {
    content: "-";
    font-weight: bold;
    display: inline;
}
/* Remote search */
.NavBarLeft .ContextBoxBody .RemoteSearchFacet a {
    font-weight: normal;
    font-size: inherit;
}
.RemoteSearchFacet .LeftPaddingWide {
    padding-left: 10px !important;
}
.RemoteSearchFacet label.Bold {
    color: #292929;
}
.NavBarLeft .ContextBoxBody .RemoteSearchFacet a::after {
    display: none;
}
.ProductRatingEnabledIconSmall {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_xs_productcompare_rating.png) !important;
}
/* NavBarBottom */
.NavBarBottom.HorizontalNavBar {
    border-bottom: medium none;
}
.NavBarBottom .PropertyContainer {
    background-color: #fff;
}
.NavBarBottom .NavBarElement0 {
	width: 100% !important;
}
.NavBarBottom .NavigationText {
	width: 100%;
}
.NavBarBottomContainer.gridContainer {
	padding: 0 20px;
}
.NavBarBottomContainer .col-1-3 {
	padding-right: 15px;
}
.NavBarBottomContainer .col-1-3:last-child {
	padding-right: 0px;
}
.NavBarBottomContainer .NavBarBottomText {
	text-align: left;
	background: #c8c8c8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff, #c8c8c8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff, #c8c8c8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff, #c8c8c8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff, #c8c8c8); /* Standard syntax */
	padding: 20px;
	height: 175px;
	margin-bottom: 15px;
}
.NavBarBottomText .socialIcons {
	margin-top: 10px;
}
.NavBarBottomText .socialIcons img {
    padding-right: 5px;
}
.NavBarBottomText .smallText {
    margin-top: 10px;
	font-size: 80%;
}
.NavBarBottom p {


    margin: 7px 0 0;
    padding: 0;
}
.NavBarBottomText > h3 {
    color: #ed1c24;
    font-size: 16px;;
}
.NavBarBottom a {
    font-weight: 700;
}
.NavBarBottom a:hover {
    font-weight: 700;
}
/* NavBarLeft */
.NavBarLeft .ContextBoxHead, .NavBarLeft .ContextBoxBody, .NavBarRight .ContextBoxHead, .NavBarRight .ContextBoxBody {
    padding: 6px 8px;
}
.ContextBoxHead span::before {
	border-color: transparent;
	content: " ";
	padding: 2px 2px 2px 0;
}
/* homepage styling */
.start-page .Div .ContentAreaInner {
    left: 0;
    overflow: visible;
    top: -342px;
}
.start-page .NavBarLeft.VerticalNavBar {
    top: 380px;
}
.start-page .Div .ContentArea {
    margin-left: 0;
    max-width: 1170px;
	width: 100%;
	padding: 0;
	height: 1800px;
}
.ContentArea .start-pageIntroText {
	margin : 0px 2% 2% 2%;
    font-size: 16px !important;
    color: #121212;
    padding: 10px 10px 0 0;
}
.start-pageIntroText h1 {
    background: #ed1c24;
    color: white;
    font-weight: 500;
    padding: 12px 10px;
    margin-top: 4px;
}
.start-page h2.blockHeading {
    margin-left: 280px;
	height: 37px;
	position: relative;
	top: 9px;
	width: 860px;
}
.start-page .CategoryList {
    padding-bottom: 20px;
}
.start-page .CategoryProducts {
    margin-left: 280px;
	position: relative;
	top: 5px;
	width: 882px;
}
/* Product boxes */
.BoxList * {
	box-sizing: border-box;
}
.Box {
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	width: 32.33%;
	height: 280px;
	text-align: center;
	margin: 0 8px 8px 0;
}
.Box:last-child {
	margin: 0;
}
.BoxTop {
	height: auto;
	min-height: 230px;
}
.BoxBottom{
	height: auto;
	min-height: 80px;
	background-color: #ed1c24;
}
.Box .ImageArea {
	height: auto;
	width: 100%;
	text-align: center;
}
.BoxFootFloatin {
	text-align: center !important;
	width: 100%;
}
.BoxFoot .InfoArea {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
    white-space: pre-line;
    overflow: visible;
	min-height: 75px;
}
.Box a.ProductName {
	font-weight: 500;
}
.ProductBoxImage {
    max-height: 200px;
}
/* Homepage Product boxes */
.start-page .Box {
	width: 23.86%;
	margin: 0 10px 8px 0;
    height: 370px;
}
/* Category page */
.ListItemCategoryTable tr td {
	background: transparent none no-repeat 0 0;
}
.ListItemCategoryTable .ListItemCategory {
	position: relative;
	margin: 0;
	background: #ececec none no-repeat 0 0;
}
.ListItemCategoryTable .InfoArea {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}
.ListItemCategory .InfoArea h3 {
	margin-bottom: 0px;
}
/* Category page with links - Support page*/
.ListItemCategoryTable .ListItemLink {
	position: relative;
	margin: 0;
	background: #ececec none no-repeat 0 0;
	min-height: 50px;
}
.ListItemCategoryTable .ListItemLink .InfoArea {
    width: 100%;
}
.ListItemLink .InfoArea h3 {
	margin-bottom: 0px;
}
.ListItemCategory .Links {
    display: none;
}
/* Product page */
.ProductDetails h1 {
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    text-align: left;
    font-family: "Montserrat", Arial, Helvetica ,sans-serif !important;
    font-weight: 700;
	font-size: 22px;
}
.ImgLeft .ProductImage {
    padding-top: 55px;
}
.ImgLeft .InfoArea, .ImgRight .InfoArea {
    padding-top: 55px;
}
span.ProductNo {
    font-size: inherit;
    color: #292929;
    opacity: 1;
}
.PriceContainer {
	border: none;
	padding: 0 20px 0 0;
}
.ProductDetails .Price {
	font-weight: 500;
}
.ContentArea .TaxAndShippingInfo .FontSmaller {
	color: #282828;
}
.SelectVariation .SelectLabelling {
	color: #080808;
	font-size: 16px;
	font-weight: 400;
}
table.SelectVariation select.LongText {
	color: #080808;
	min-width: 190px;
	height: 34px;
}
table.SelectVariation .MediumColumn {
	width: 70px;
}
.PriceContainer #SelectVariationForm, .AdditionalLinks.New {
    margin-bottom: 0.5em;
}
.PriceContainer .ShowInlineElement.AddToBasketForm.ep-js::before {
    color: #080808;
    content: "Qty";
    display: inline-block;
    float: left;
    font-size: 16px;
    padding-right: 42px;
	line-height: 30px;
}
.AddToBasketForm .Quantity {
    height: 24px;
    width: 34px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: 600;
}
.AddToBasketForm .ep-sprite.ep-sprite-s.BasketIcon {
	display: none;
}
.ContentArea button.AddToBasketButton {
    display: block;
}
.AddToBasketButton[type="submit"] {
	font-weight: 900;
    font-family: "Montserrat", Arial, Helvetica ,sans-serif !important;
	text-transform: uppercase;
	padding: 10px 30px;
	width: 100%;
}
.ContentArea input.LinkCompareProduct, .ContentArea a.LinkCompareProduct {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0 !important;
    padding: 1px 0 0 10px !important;
}
.ep-js.LinkIcon.LinkCompareProduct.InPrintViewNotVisible::after {
    content: " Products";
    padding-right: 6px;
}
.AdditionalLinks li {
    padding-left: 4px;
    background: transparent url(/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/headerLinks-dot.png) no-repeat 0 8px;
}
.AdditionalLinks.New li {
    width: 47%;
    padding-right: 1%;
}
.AdditionalLinks.New li a, .AdditionalLinks.New li input {
    white-space: nowrap;
	font-size: 12px;
}
ul.AdditionalLinks.New form.ep-js {
    padding-left: 8px !important;
}
.ContentArea a.LinkAddShoppingList, .ContentArea input.LinkAddShoppingList {
    background: none no-repeat !important;
}
.ContentArea a.LinkProductRecommendation {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0 !important;
    padding: 1px 0 3px 20px;
}
ul.AdditionalLinks #CompareProductForm {
    display: none;
}
.LinkProductRating {
    background: rgba(0, 0, 0, 0) none no-repeat scroll 0 0  !important;
    padding: 1px 0 3px 0px !important;
}
html body .ContentArea a.LinkAddShoppingList, html body .ContentArea input.LinkAddShoppingList {
    padding: 0;
    background: none no-repeat;
}
#ProductInfoTabs .ui-tabs-nav .ui-tabs-active, #ProductInfoTabs .ui-tabs-nav .ui-tabs-active a {
	font-size: 14px;
	padding: 5px 15px;
	text-transform: uppercase;
}
#ProductInfoTabs .ui-tabs-nav li {
	font-size: 14px;
	text-transform: uppercase;
	background: #d2d2d2 none repeat 0 0;
	border-left: 1px solid #ffffff;
    padding-top: 1px;
}
#ProductInfoTabs .ui-tabs-nav li:first-of-type {
	border-left: none;
}
.ui-tabs .ui-tabs-nav li a {
	color: #6c6c6c;
	padding: 9px 30px 10px;
	text-transform: uppercase;
}
#ProductInfoTabs .ui-tabs-panel {
	border: 1px solid #d2d2d2;
}
#ProductInfoTabs .ui-tabs-nav .ui-tabs-active a::after {
	border-width: 0;
}
div[id="ProductInfoTabs"] ~ h2 {
    color: #282828;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    background: #ececec none no-repeat 0 0;
}
/* Cross-selling */
#NewCrossSell {
    margin-top: 5px;
}
#NewCrossSell::after {
    clear: both;
    content: "";
    display: table;
}
#NewCrossSell * {
    box-sizing: border-box;
}
.NewCrossSellItem {
    float: left;
    text-align: center;
    width: 24.42%;
    padding: 5px;
    padding-top: 10px;
    background: #ffffff;
    border-top: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-bottom: 5px solid #ed1c24;
    min-height: 260px;
    margin: 0 5px 0 0;
	position: relative;
}
.CrossellingImageArea {
    height: 100px;
    width: 100%;
    line-height: 100px !important;
    vertical-align: middle;
}
.CrossellingImageArea img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 150px;
}
.CrossellingInfoArea {
    margin-top: 10px;
}
.CrossellingInfoArea .Price.FloatLeft {
    color: #ed1c24;
    float: none;
    font-size: 22px;
    margin: 2px;
    text-align: center;
}
#NewCrossSell .AdditionalInfo {
    display: none;
}
#NewCrossSell form.AddToBasketForm {
    display: none !important;
}
.CrossellingCount .CrossellingInfoArea, .BundledProductsTable BundledProductsInfoArea {
    background: #ffffff;
    text-align: left;
    padding: 4px 0 4px 0;
}
.CrossellingCount .Price, .CrossellingCount .FloatRight, .BundledProductsTable .Price, .BundledProductsTable .FloatRight {
    background: #ffffff;
}
/* Checkout */
.CheckoutButtons .ep-js.ep-uiInput.ep-uiInput-button, #CheckOut .ep-js.ep-uiInput.ep-uiInput-button, .CheckOut button.ep-uiInput-button {
    background: #ed1c24 none no-repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: uppercase;
}
.Basket input.ep-js.ep-uiInput.ep-uiInput-text.ep-uiValidate {
	text-align: center;
}
#BasketButtons span#ContinueShoppingButton {
    background: #080808 none no-repeat 0 0;
    padding: 11px 20px;
    text-transform: uppercase;
    margin-top: 1px;
}
ContinueShoppingButton a:hover, #ContinueShoppingButton a {
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#BasketTable th {
    background: #080808 url("/WebRoot/ecshared01/Shops/mace/Styles/MaceEngineering/../../MediaGallery/design/ContentBoxHead-bg.jpg?CachePrevention=1506049671") repeat-x scroll left top;
    color: white;
    font-weight: 600;
    padding: 0 4px;
    text-transform: uppercase;
}
table.Basket td, table.MiniBasket td, table.MiniStatusBasket td {
    background: #fff none repeat scroll 0 0;
    color: #292929;
    padding: 4px;
}
table.Basket tr.AlternateRow td, table.ContentTable tr.Alternate td, .Alternate td, .Alternate {
    background-color: #ececec;
}
.TrashIcon {
    background: rgba(0, 0, 0, 0) url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/trash-icon.png") no-repeat scroll 0 0 !important;
    height: 24px !important;
    width: 24px !important;
}
.ShippingOptionsIconVast {
    background: rgba(0, 0, 0, 0) url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/giftwrapping-icon.png") no-repeat scroll 0 0 !important;
    height: 24px !important;
    width: 24px !important;
	padding-left: 4px;
}
.ShoppingListIcon {
    background: rgba(0, 0, 0, 0) url("/WebRoot/ecshared01/Shops/mace/MediaGallery/design/icons/shoppinglist-icon.png") no-repeat scroll 0 0 !important;
    height: 24px !important;
    width: 24px !important;
}
#BasketForm .TaxAndShippingInfo.AdditionalInfo.LeftSmallMargin::before {
    content: "Prices in AUD and";
    display: inline-block;
}
.BoxShippingOption div.FloatLeft.SmallTopMargin.LeftPadding {
    padding-left: 0 !important;
}
/* Fitting instructions */
.ContentArea a.LinkDownload {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_s_download.png) no-repeat top right !important;
}
/* My Account icons */
.PersonalDataIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_personaldata.png) !important;
}
.AccountAddressIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_accountaddress.png) !important;
}
.OrderTrackingIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_ordertracking.png) !important;
}
.ShoppingListIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_shoppinglists.png) !important;
}
.AccountPasswordIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_accountpasswd.png) !important;
}
.LogoutIconMedium {
    background: url(/WebRoot/StoreTypes/7.6.0/Store/SF/Icon/WireframeBlack/ico_m_logout.png) !important;
}
/* Hide Responsive menu and search dropdown */
.NavBarTop nav {
    display: none;
}
.NavBarTop a#searchtoggl {
    display: none;
}
.CrossellingImageArea img {
    max-height: 150px;
    width: auto;
    max-width: 150px;
}
/******************* Media Queries only below here ***************/
@media only screen and (min-width: 813px) {
.BoxFoot {
    height: 170px;
}
.Box .BoxFootFloatin {
    height: 100%;
    position: relative;
}
.Box .Price {
    text-align: center;
    position: absolute;
    bottom: 10px;
    margin: 0 auto !important;
    left: 0;
    right: 0;
}
/* cross selling */
.CrossellingInfoArea {
	position: absolute;
	bottom: 10px;
}
}
@media only screen and ( max-width: 1170px ) {
.Header .BasketBox.NavElementIcon, .Header .headerLinks {
    margin-right: 10px;
}
.NavBarTop .SearchElement form {
	width: auto;
}
.NavBarTop .InputField.SearchForm.horizontal-search {
	width: 257px;
}
.NavBarTop .SearchForm.horizontal-search > input {
	width: 210px;
}
.Box {
    width: 32%;
}
.NavBarBottom a {
    font-size: 14px;
}
/* homepage */
.start-page .Div .ContentArea {
    height: 1960px;
}
.start-page .CategoryProducts {
    width: auto;
}
.start-page .Box {
    width: 23.56%;
	height: 400px;
}
.BoxFoot {
    height: 190px;
}
.start-page .NavBarLeft.VerticalNavBar {
    /*top: 307px;*/
}
.NewCrossSellItem {
    min-height: 300px;
}

}
@media only screen and ( max-width: 1024px ) {
.NewCrossSellItem {
    width: 24.3%;
}
.start-page .Div .ContentArea {
    height: 1900px;
}
.start-page .Box {
    height: 410px;
}
}
@media only screen and ( max-width: 812px ) {
.Header .ShopLogo {
    padding-top: 53px;
}
.Header .ShopLogo img {
    width: 100%;
	max-width: 350px;
    height: auto;
}
.Header.HorizontalNavBar .custom-right {
    position: absolute;
}
.NavBarTop {
    margin: 0;
}
/* Search toggle */
.NavBarTop a#searchtoggl {
    position: absolute;
    right: 10px;
    top: 9px;
	display: block;
}
.NavBarTop .SearchElement.NavBarElement1 {
	display: none;
}
.NavBarTop .SearchElement.NavBarElement1 {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100% !important;
    text-align: center;
    border-top: 2px solid #fff;
    height: 60px;
    padding-top: 12px;
    margin-top: 0;
    background: #000000 none no-repeat 0 0;
	border-bottom: 1px solid #ffffff;
}
.NavBarTop .InputField.SearchForm.horizontal-search {
    width: 95%;
}
.NavBarTop .SearchForm.horizontal-search input {
    width: 95%;
}
.NavBarTop .SearchForm.horizontal-search input:focus {
	width: 95%;
	background: #ffffff none no-repeat 0 0;
}
.NavBarTop .InputField.SearchForm > button {
	position: absolute;
}
.Div .NavBarLeft {
    display: none;
}
#ContentAreaFix, .Div .ContentArea:before {
    left: 0;
}
.Div .ContentArea {
    margin-left: 0;
}
.start-page .Div .ContentArea {
    height: auto;
}
.start-page .Div .ContentAreaInner {
    top: 0;
}
.ContentArea .start-pageIntroText {
	margin-left: 0;
	padding: 10px;
}
.start-page h2.blockHeading {
    margin-left: 0;
    width: auto;
	margin-right: 10px;
}
.start-page .CategoryProducts {
    margin-left: 0;
}
.start-page .Box {
    width: 48.45%;
    height: 370px;
}
/* cross selling */
.NewCrossSellItem {
    min-height: 100%;
}
}
@media only screen and ( max-width: 768px ) {
.NavBarBottomContainer.gridContainer {
    padding: 0 10px;
}
.NavBarBottomContainer .col-1-3 {
    padding-right: 10px;
}
.NavBarBottomContainer .NavBarBottomText {
    padding: 10px;
    margin-bottom: 10px;
}
	.NewCrossSellItem {
		width: 32.55%;
	}
}
@media only screen and ( max-width: 760px ) {
	.NavBarRoof .NavigationText {
		font-size: 14px;
	}
	.Header.HorizontalNavBar .custom-right * {
		box-sizing: border-box;
	}
	.Header.HorizontalNavBar .custom-right .headerLinks {
		box-sizing: initial;
	}
	.Header .BasketBox.NavElementIcon {
		background: transparent none no-repeat 0 0;
		width: 33.33% !important;
		text-align: center !important;
		top: 185px;
		margin: 0 auto !important;
		padding-top: 19px;
	}
	.Header .BasketBox.NavElementIcon span {
		text-align: center;
		margin: 0 auto;
		display: inline-block !important;
	}
	.Header .BasketBox.NavElementIcon span:first-child {
		display: none !important;
	}
	.Header.HorizontalNavBar .custom-right {
		width: 100%;
	}
	/* responsive menu */
	.NavBarTop .PropertyContainer {
		height: 70px;
	}
	.NavBarTop .SizeContainer {
		height: 70px;
	}
	.NavBarTop.HorizontalNavBar {
		border-bottom: 1px solid #8e8e8e;
		background: #000000 none no-repeat 0 0;
	}
	.NavBarTop.HorizontalNavBar * {
		box-sizing: border-box;
	}
	.NavBarTop .SearchElement form * {
		box-sizing: initial;
	}
	.NavBarTop label[for="drop-0"].toggle {
		width: 33.33%;
		text-align: center;
		border-right: 1px solid #fff;
		height: 62px;
		padding-top: 20px;
	}
	.NavBarTop .NavigationElement.NavBarElement0 {
		display: none !important;
	}
	.NavBarTop ul.DropDownList {
		display: none !important;
	}
	.NavBarTop nav {
		display: block;
	}
	.NavBarTop a:hover, .NavBarTop .NavigationElement.SSLSwitch input:hover {
		display: block;
		padding: 14px 20px;
	}
	.NavBarTop .NavigationText {
		width: 100%;
	}
	.NavBarTop .SearchElement.NavBarElement1 {
		height: 70px;
		padding-top: 7px;
		border-top: none;
		top: 71px;
		z-index: 2147483640;
	}
	.NavBarTop .InputField.SearchForm.horizontal-search {
		width: 90%;
	}
	.NavBarTop .SearchForm.horizontal-search input {
		width: 92%;
	}
	.NavBarTop .SearchForm.horizontal-search input:focus {
		width: 92%;
	}
	.NavBarTop .NavBarElement3 {
		width: 33.33% !important;
		text-align: center;
		position: absolute;
		left: 33.33%;
		top: 4px;
		display: block !important;
		border-right: 1px solid #ffffff;
		height: 62px;
	}
	.start-page .CategoryProducts {
		padding: 0 10px;
	}
	.NavBarBottomContainer .NavBarBottomText {
		height: 185px;
	}
	/*.NavBarTop a#searchtoggl {
		position: relative;
		right: 0;
		top: 0;
		display: block;
		padding-top: 7px;
	}*/
	.NavBarTop a#searchtoggl {
    position: absolute;
    right: auto;
    display: inline-block;
    padding-top: 10px;
    width: 33.33%;
    left: 33.33%;
    text-align: center;
    border-right: 1px solid #fff;
    height: 62px;
    top: 4px;
}
	.Box {
		width: 48.75%;
	}
	.Footer .PropertyContainer {
		padding: 20px 0 0 0;
	}
	/* Checkout */
	.ShippingOptionContainer .HalfWidth.FloatLeft {
		width: 55% !important;
	}
	.FloatLeft.TopSmallMargin h3.TopSmallMargin {
		color: #080808 !important;
		font-weight: bold;
	}
	.OrderProcessNavigation span#CheckOut {
		text-align: right;
	}
}
@media only screen and ( max-width: 675px )
{
	.Box {
		width: 48%;
	}
	.start-page .Box {
		width: 48%;
	}
	.NewCrossSellItem {
		width: 32.33%;
	}
}
@media only screen and ( max-width: 736px )
and (orientation: landscape) {
	.NavBarBottomContainer .NavBarBottomText {
		height: 200px;
	}
}
@media only screen and ( max-width: 568px )
and (orientation: landscape) {
	.NavBarBottom p {
		font-size: 13px;
	}
	.NavBarBottom a {
		font-size: 13px;
	}
}
@media only screen and ( max-width: 414px ) {
	.ContentArea h2 {
		font-size: 16px;
	}
	.NavBarRoof {
		display: none;
	}
	.Header.HorizontalNavBar .custom-right {
		right: auto;
		text-align: left;
		left: 0;
		width: 100%;
	}
	.Header .NavBarElement2 {
		width: 100% !important;
		float: left !important;
	}
	.Header .headerLinks {
		margin-right: 0 !important;
	}
	.Header .headerLinks li:first-child {
		display: none;
	}
	.Header .headerLinks li {
		padding: 0 16px 0 6px;
	}
	.Header .headerLinks li a {
		font-size: 14px;
	}
	.Header .BasketBox.NavElementIcon {
		font-size: 16px;
	}
	.Header .basket-icon-link.AlignLeft > span {
		font-size: 15px;
		line-height: 16px;
	}
	.ContentArea {
		padding-right: 5px;
		padding-left: 5px;
	}
	.NavBarBottomContainer.gridContainer {
		padding: 0 5px;
	}
	.NavBarBottomContainer .col-1-3 {
		width: 100%;
		padding-right: 0;
	}
	.NavBarBottomContainer .NavBarBottomText {
		height: 155px;
	}
	.NavBarBottomText > h3 {
		font-size: 14px;
	}
	.NavBarBottom p {
		font-size: 13px;
	}
	.NavBarBottom a {
		font-size: 13px;
	}
	/* Homepage */
	.start-page h2.blockHeading {
		height: 50px;
	}
	/* Category page */
	.Box {
		margin: 0 0 5px 0;
	}
	.Box:last-child {
		margin: 0 0 5px 0;
	}
	/* checkout */
	.CheckoutButtons .ep-js.ep-uiInput.ep-uiInput-button, #CheckOut .ep-js.ep-uiInput.ep-uiInput-button, .CheckOut button.ep-uiInput-button {
		font-size: 14px;
	}
	ContinueShoppingButton a:hover, #ContinueShoppingButton a {
		font-size: 14px;
	}
	#BasketTable td.SeparateColumn.AlignLeft.AlignMiddle.NoWrap {
		white-space: pre-wrap !important;
	}
	#BasketTable th.SeparateColumn.SlimColumn.NoWrap {
		white-space: pre-wrap !important;
	}
	table.Basket td, table.MiniBasket td, table.MiniStatusBasket td {
		padding: 1px;
	}
	img.ThumbnailsInBasket {
		display: none;
	}
	.ShippingOptionContainer .HalfWidth.FloatLeft {
		width: 100% !important;
	}
	.ShippingOptionContainer .FloatLeft.SmallTopMargin.LeftPadding {
		padding-left: 0px !important;
	}
	.OrderProcessNavigation span#CheckOut {
		width: 100%;
	}
	.ContentArea button[name="AddBasketToShoppingList"] {
		overflow: hidden;
		white-space: pre-wrap;
		float: left;
		text-align: left;
		display: inline-flex;
	}
	.ShoppingListIcon {
		padding-right: 15px;
	}
	.start-page .Box {
		width: 100%;
	}
	.Box {
		width: 100%;
	}
	/* Product page */
	.ProductDetails {
		display: ms-flex;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}
	.InfoArea {
		width: 100% !important;
		margin-left: 0 !important;
	}
	.ProductDetails h1 {
		top: 5px;
	}
	.ImgLeft .ProductImage {
		padding-top: 0;
	}
	.ProductImage {
		margin: 10px !important;
		display: block;
	}
	.ProductDetails #ProductThumbs {
		clear: both;
	}
	.NewCrossSellItem {
		width: 100%;
		margin: 0 0 5px 0;
	}
	.SocialMedia {
		padding-top: 152px;
		position: relative;
	}
}
@media only screen and ( max-width: 364px ) {
	.Header .headerLinks li a {
		font-size: 12px;
	}
	/* Checkout */
	.CheckoutButtons .ep-js.ep-uiInput.ep-uiInput-button, #CheckOut .ep-js.ep-uiInput.ep-uiInput-button, .CheckOut button.ep-uiInput-button {
		padding: 10px 15px;
	}
	#BasketButtons span#ContinueShoppingButton {
		padding: 10px 15px;
	}
	#BasketTable th {
		font-size: 12px;
	}
	table.Basket td, table.MiniBasket td, table.MiniStatusBasket td {
		font-size: 12px;
	}
	table.Basket a, table.MiniBasket a, .CheckoutButtonsDiv a {
		font-size: 12px;
	}
}
@media only screen and ( max-width: 320px ) {
	#ProductInfoTabs .ui-tabs-nav .ui-tabs-active, #ProductInfoTabs .ui-tabs-nav .ui-tabs-active a {
		padding: 5px 10px;
	}
	.ui-tabs .ui-tabs-nav li a {
		padding: 9px 20px 10px;
	}
}